body {
    background-color: #f5f5f5;
}
table {
    background-color: #966F33;
    padding: 16px;
}
table,
table td {
  border: 1px solid #424242;
  border-spacing: 0;
}
td {
    height: 70px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}
.white-dot {
    background-color: #FFFFFF;
}
.black-dot {
    background-color: #000000;
}